* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1 {
  margin: 0 !important;
}
hr {
  border: 2px solid #6c6c6c;
}
hr.my__1 {
  border: 2px dashed #000;
  width: 90%;
}
.center__all {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center__all__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text__center {
  text-align: center;
}

.purple {
  color: #5d1d88;
}

.light__purple {
  font-weight: normal;
  color: #875f9a;
}
.blue {
  color: #3358a3;
  text-decoration: underline;
}
.my__1 {
  margin: 1rem 0;
}
.mb__1 {
  margin-bottom: 1rem;
}
.passport__size {
  padding: 4rem 3rem !important;
}
.p__1 {
  padding: 1rem;
}

.border {
  border: 2px solid gray;
  border-radius: 10px;
}

.border p {
  text-decoration: underline;
}
.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5d1d88;
}

/* ***************** */
.section__break {
  background-color: #1f5daa;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
/* ***************** */
.inputs input {
  margin: 0 -3px;
  border-radius: 0;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.2rem;
  text-align: center;
  border: 1px solid black;
}
.inputs input:focus {
  border: 1px solid rgb(255, 70, 3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
}
.dob .inputs {
  margin-left: 88px !important;
}

#photo {
  display: none;
}

.border__bottom {
  width: 83%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}

.border__bottom:focus {
  outline: none;
}

/* Section 3 and 4 */

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th {
  padding: 2px;
  background-color: #582d74 !important;
  color: #fff;
}
td input {
  padding: 2px 5px;
}
td input:focus {
  outline: none;
}
